# Task 2 Classification

#### a)

##### All Library Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import scipy.stats as st    
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, RandomForestRegressor, GradientBoostingRegressor
from sklearn.neural_network import MLPClassifier,MLPRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.svm import SVC,SVR
from sklearn.metrics import confusion_matrix

In [4]:
clf=pd.read_csv("C:/Datasets BITS/Classification.csv")

In [5]:
clf.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [6]:
clf.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,3,1,0,6,3,4,4,3,1,2

In [7]:
clf.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [8]:
clf.shape

(1470, 33)

In [10]:
clf.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

#### b)

# Hypothesis Testing

### 1) Gender vs Attrition

NULL Hypothesis : there is no relation between Gender and Attrition<br/>
ALTERNATE Hypothesis: there is relation between Gender and Attrition

In [13]:
pd.crosstab(clf.Gender,clf.Attrition)

Attrition   No  Yes
Gender
Female     501   87
Male       732  150

In [17]:
st.chi2_contingency(pd.crosstab(clf.Gender, clf.Attrition))

(1.1169671241970975, 0.29057244902890855, 1, array([[ 493.2,   94.8],
        [ 739.8,  142.2]]))

Result : since the p value is greater than 0.05 Accept the NULL Hypothesis i.e.. 
there is no relation between gender and attrition

### 2) EducationField vs Attrition

NULL Hypothesis : there is no relation between EducationField and Attrition<br/>
ALTERNATE Hypothesis: there is relation between EducationField and Attrition

In [18]:
pd.crosstab(clf.EducationField, clf.Attrition)

Attrition          No  Yes
EducationField
Human Resources    20    7
Life Sciences     517   89
Marketing         124   35
Medical           401   63
Other              71   11
Technical Degree  100   32

In [19]:
st.chi2_contingency(pd.crosstab(clf.EducationField, clf.Attrition))

(16.024674119585427,
 0.0067739801390252121,
 5,
 array([[  22.64693878,    4.35306122],
        [ 508.29795918,   97.70204082],
        [ 133.36530612,   25.63469388],
        [ 389.19183673,   74.80816327],
        [  68.77959184,   13.22040816],
        [ 110.71836735,   21.28163265]]))

Result : since the p value is less than 0.05 REJECT the NULL Hypothesis i.e.. there is relation between EducationField and attrition

### 3) Gender vs MonthlyIncome
Null Hypothesis: there is no significant difference in the avg monthly income of male & female - both means are equal<br/>
Alternate Hypothesis : there is significant difference in avg. monthly income of male & female - both means are not equal

In [21]:
clf.MonthlyIncome.groupby(clf.Gender).mean()

Gender
Female    6686.566327
Male      6380.507937
Name: MonthlyIncome, dtype: float64

In [22]:
male=clf[clf.Gender=='Male']
female=clf[clf.Gender=='Female']

In [23]:
st.ttest_ind(male.MonthlyIncome,female.MonthlyIncome)

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.22218303455087898)

Result : since the p value is greater than 0.05 Accept the NULL Hypothesis i.e.., there is no significant difference in the avg monthly income of male & female. the difference of 306$ doesn't matter

### 4) MaritalStatus vs MonthlyIncome
Null Hypothesis: there is no significant difference in the avg monthly income of married, unmarried & divorced - both means are equal<br/>
Alternate Hypothesis : there is significant difference in avg. monthly income of married, unmarried & divorced - both means are not equal

In [25]:
clf.MonthlyIncome.groupby(clf.MaritalStatus).mean()

MaritalStatus
Divorced    6786.287462
Married     6793.671620
Single      5889.472340
Name: MonthlyIncome, dtype: float64

In [26]:
married=clf[clf.MaritalStatus=='Married']
single=clf[clf.MaritalStatus=='Single']
divorced=clf[clf.MaritalStatus=='Divorced']

In [27]:
st.f_oneway(married.MonthlyIncome,single.MonthlyIncome,divorced.MonthlyIncome)

F_onewayResult(statistic=5.9047533237590537, pvalue=0.0027916759566845961)

Result : since p value is less than 0.05 REJECT null hypothesis that the avg. monthly income of married, unmarried & divorced is equal. the difference is statistically significant

### 5) DistancefromHome vs Attrition
NULL Hypothesis : there is no relation between Distance from home and Attrition<br/>
ALTERNATE Hypothesis: there is relation between Distance from home and Attrition

In [29]:
pd.crosstab(clf.DistanceFromHome,clf.Attrition)

Attrition          No  Yes
DistanceFromHome
1                 182   26
2                 183   28
3                  70   14
4                  55    9
5                  55   10
6                  52    7
7                  73   11
8                  70   10
9                  67   18
10                 75   11
11                 25    4
12                 14    6
13                 13    6
14                 17    4
15                 21    5
16                 25    7
17                 15    5
18                 22    4
19                 19    3
20                 21    4
21                 15    3
22                 13    6
23                 22    5
24                 16   12
25                 19    6
26                 22    3
27                  9    3
28                 21    2
29                 22    5

In [30]:
st.chi2_contingency(pd.crosstab(clf.DistanceFromHome,clf.Attrition))

(38.16850025507776,
 0.095253135017071361,
 28,
 array([[ 174.46530612,   33.53469388],
        [ 176.98163265,   34.01836735],
        [  70.45714286,   13.54285714],
        [  53.68163265,   10.31836735],
        [  54.52040816,   10.47959184],
        [  49.4877551 ,    9.5122449 ],
        [  70.45714286,   13.54285714],
        [  67.10204082,   12.89795918],
        [  71.29591837,   13.70408163],
        [  72.13469388,   13.86530612],
        [  24.3244898 ,    4.6755102 ],
        [  16.7755102 ,    3.2244898 ],
        [  15.93673469,    3.06326531],
        [  17.61428571,    3.38571429],
        [  21.80816327,    4.19183673],
        [  26.84081633,    5.15918367],
        [  16.7755102 ,    3.2244898 ],
        [  21.80816327,    4.19183673],
        [  18.45306122,    3.54693878],
        [  20.96938776,    4.03061224],
        [  15.09795918,    2.90204082],
        [  15.93673469,    3.06326531],
        [  22.64693878,    4.35306122],
        [  23.48571429,    4.51428571],
        [  20.96938776,    4.03061224],
        [  20.96938776,    4.03061224],
        [  10.06530612,    1.93469388],
        [  19.29183673,    3.70816327],
        [  22.64693878,    4.35306122]]))

Result : since the p value is greater than 0.05 Accept the NULL Hypothesis i.e.. there is no relation between Distance from home and attrition

### 6)Gender vs YearsatCurrentrole
NULL Hypothesis : there is no relation between Gender and YearsinCurrentrole<br/>
ALTERNATE Hypothesis: there is relation between Gender and YearsinCurrentrole

In [31]:
pd.crosstab(clf.Gender,clf.YearsInCurrentRole)

YearsInCurrentRole,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Gender,,,,,,,,,,,,,,,,,,,
Female,89,24,147,53,44,15,17,95,31,20,8,13,6,8,7,4,4,3,0
Male,155,33,225,82,60,21,20,127,58,47,21,9,4,6,4,4,3,1,2

In [32]:
st.chi2_contingency(pd.crosstab(clf.YearsInCurrentRole,clf.Gender))

(22.550619517163241, 0.2084536425366629, 18, array([[  97.6,  146.4],
        [  22.8,   34.2],
        [ 148.8,  223.2],
        [  54. ,   81. ],
        [  41.6,   62.4],
        [  14.4,   21.6],
        [  14.8,   22.2],
        [  88.8,  133.2],
        [  35.6,   53.4],
        [  26.8,   40.2],
        [  11.6,   17.4],
        [   8.8,   13.2],
        [   4. ,    6. ],
        [   5.6,    8.4],
        [   4.4,    6.6],
        [   3.2,    4.8],
        [   2.8,    4.2],
        [   1.6,    2.4],
        [   0.8,    1.2]]))

Result : since the p value is greater than 0.05 Accept the NULL Hypothesis i.e.., there is no relation between Gender and YearsinCurrentrole

### 7)MaritalStatus vs YearsatCurrentrole
NULL Hypothesis : there is no relation between MaritalStatus and YearsinCurrentrole<br/>
ALTERNATE Hypothesis: there is relation between MaritalStatus and YearsinCurrentrole

In [35]:
pd.crosstab(clf.MaritalStatus,clf.YearsInCurrentRole)

YearsInCurrentRole,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
MaritalStatus,,,,,,,,,,,,,,,,,,,
Divorced,50,17,79,34,17,8,5,55,21,14,8,6,2,4,3,0,2,2,0
Married,99,24,172,58,49,13,20,95,49,37,16,11,6,6,5,6,4,2,1
Single,95,16,121,43,38,15,12,72,19,16,5,5,2,4,3,2,1,0,1

In [36]:
st.chi2_contingency(pd.crosstab(clf.MaritalStatus,clf.YearsInCurrentRole))

(36.045073322154202,
 0.46653962786408232,
 36,
 array([[  54.27755102,   12.67959184,   82.75102041,   30.03061224,
           23.13469388,    8.00816327,    8.23061224,   49.38367347,
           19.79795918,   14.90408163,    6.45102041,    4.89387755,
            2.2244898 ,    3.11428571,    2.44693878,    1.77959184,
            1.55714286,    0.88979592,    0.44489796],
        [ 111.70884354,   26.09591837,  170.31020408,   61.80612245,
           47.61360544,   16.48163265,   16.93945578,  101.63673469,
           40.7462585 ,   30.67414966,   13.27687075,   10.07210884,
            4.57823129,    6.40952381,    5.03605442,    3.66258503,
            3.2047619 ,    1.83129252,    0.91564626],
        [  78.01360544,   18.2244898 ,  118.93877551,   43.16326531,
           33.25170068,   11.51020408,   11.82993197,   70.97959184,
           28.45578231,   21.42176871,    9.27210884,    7.03401361,
            3.19727891,    4.47619048,    3.5170068 ,    2.55782313,
            2.23809524,    1.27891156,    0.63945578]]))

Result : since the p value is greater than 0.05 Accept the NULL Hypothesis i.e.., there is no relation between MaritalStatus and YearsinCurrentrole

#### c)

In [37]:
clf.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

####  Result : No Missing Values in the given dataset

#### d)

In [39]:
clf.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [38]:
clfnum=clf.select_dtypes(include=[np.number])
clfcat=clf.select_dtypes(include=[object])

In [40]:
le=LabelEncoder()

In [41]:
clfcat1=clfcat.apply(le.fit_transform)

In [42]:
clf2=pd.concat([clfnum,clfcat1],axis=1)

In [43]:
clf2.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,41,1102,1,2,1,1,2,94,3,2,...,0,5,1,2,2,1,0,7,2,1
1,49,279,8,1,1,2,3,61,2,2,...,1,7,0,1,1,1,1,6,1,0
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,1,2,1,4,1,2,2,1
3,33,1392,3,4,1,5,4,56,3,1,...,3,0,0,1,1,1,0,6,1,1
4,27,591,2,1,1,7,1,40,3,1,...,2,2,0,2,1,3,1,2,1,0

#### e,f)
### 1) Binary Logistic Regression

In [44]:
X=clf2.drop('Attrition',axis=1)
y=clf2['Attrition']

In [47]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
lr= LogisticRegression()

In [49]:
lr1=lr.fit(X_train,y_train)

In [50]:
lr1.score(X_test,y_test)

0.87755102040816324

In [51]:
pd.crosstab(y_test,lr1.predict(X_test))

col_0        0  1
Attrition
0          251  4
1           32  7

In [53]:
(251+7)/(251+4+32+7)

0.8775510204081632

##### Accuracy is : 0.87755

### 2) DecisionTreeClassifier

In [57]:
dt= DecisionTreeClassifier()

In [58]:
dt1=dt.fit(X_train,y_train)
dt1.score(X_test,y_test)

0.77891156462585032

In [59]:
pd.crosstab(y_test,dt1.predict(X_test))

col_0        0   1
Attrition
0          222  33
1           32   7

In [60]:
(222+7)/(222+33+32+7)

0.7789115646258503

##### Acuuracy is : 0.7789

### 3) RandomForestClassifier

In [67]:
rf=RandomForestClassifier(n_estimators=100)

In [68]:
rf1=rf.fit(X_train,y_train)
rf1.score(X_test,y_test)

0.87414965986394555

In [69]:
pd.crosstab(y_test,rf1.predict(X_test))

col_0        0  1
Attrition
0          254  1
1           36  3

In [70]:
(254+3)/(254+1+36+3)

0.8741496598639455

##### Accuracy is : 0.8741496

### 4) GradientBoostingClassifier

In [71]:
gbm= GradientBoostingClassifier()

In [72]:
gbm1=gbm.fit(X_train,y_train)

In [73]:
gbm1.score(X_test,y_test)

0.88775510204081631

In [74]:
pd.crosstab(y_test,gbm1.predict(X_test))

col_0        0   1
Attrition
0          248   7
1           26  13

In [75]:
(248+13)/(248+7+26+13)

0.8877551020408163

##### Accuracy is : 0.887755

### 5) NeuralNetworkClassifier

In [100]:
nn= MLPClassifier()

In [101]:
nn1=nn.fit(X_train,y_train)

In [102]:
nn1.score(X_test,y_test)

0.85034013605442171

In [103]:
pd.crosstab(y_test,nn1.predict(X_test))

col_0        0  1
Attrition
0          247  8
1           36  3

In [104]:
(247+3)/(247+8+36+3)

0.8503401360544217

##### Accuracy is : 0.85034

### 6) SupportVectorMachineClassifier

In [105]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.1,1, 10, 100, 1000], 'gamma': [1,0.1,0.01,0.001,0.0001], 'kernel': ['rbf']}

In [106]:
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=3)

In [108]:
svm1=grid.fit(X_train,y_train)

Fitting 3 folds for each of 25 candidates, totalling 75 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....... C=0.1, gamma=1, kernel=rbf, score=0.831633, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] ....... C=0.1, gamma=1, kernel=rbf, score=0.831633, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.4s remaining:    0.0s

[CV] ....... C=0.1, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..... C=0.1, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..... C=0.1, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..... C=0.1, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .... C=0.1, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .... C=0.1, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .... C=0.1, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ... C=0.1, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ... C=0.1, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ... C=0.1, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] .. C=0.1, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] .. C=0.1, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] .. C=0.1, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......... C=1, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......... C=1, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......... C=1, gamma=1, kernel=rbf, score=0.831633, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....... C=1, gamma=0.1, kernel=rbf, score=0.831633, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....... C=1, gamma=0.1, kernel=rbf, score=0.831633, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....... C=1, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...... C=1, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...... C=1, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...... C=1, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..... C=1, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..... C=1, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..... C=1, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] .... C=1, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] .... C=1, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] .... C=1, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........ C=10, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........ C=10, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........ C=10, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...... C=10, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...... C=10, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...... C=10, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..... C=10, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..... C=10, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..... C=10, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .... C=10, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .... C=10, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .... C=10, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ... C=10, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ... C=10, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ... C=10, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....... C=100, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....... C=100, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....... C=100, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..... C=100, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..... C=100, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..... C=100, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .... C=100, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .... C=100, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .... C=100, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ... C=100, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ... C=100, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ... C=100, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] .. C=100, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] .. C=100, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] .. C=100, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=1, kernel=rbf .....................................

[CV] ...... C=1000, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ...... C=1000, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ...... C=1000, gamma=1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] .... C=1000, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] .... C=1000, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] .... C=1000, gamma=0.1, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ... C=1000, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ... C=1000, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ... C=1000, gamma=0.01, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] .. C=1000, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] .. C=1000, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] .. C=1000, gamma=0.001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] . C=1000, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] . C=1000, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] . C=1000, gamma=0.0001, kernel=rbf, score=0.831633, total=   0.1s

[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:   20.6s finished

In [109]:
grid.best_params_

{'C': 0.1, 'gamma': 1, 'kernel': 'rbf'}

In [110]:
grid.best_estimator_

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [111]:
grid.score(X_test,y_test)

0.86734693877551017

In [112]:
pd.crosstab(y_test,grid.predict(X_test))

col_0        0
Attrition
0          255
1           39

In [114]:
# pd.crosstab(y_test,svm1.predict(X_test)) (or) 
# print(confusion_matrix(y_test,svm1.predict(X_test)))
print(confusion_matrix(y_test,svm1.predict(X_test)))

[[255   0]
 [ 39   0]]

In [115]:
255/(255+39)

0.8673469387755102

##### Accuracy is : 0.86734

### 7)KNNClassifier

In [118]:
knn= KNeighborsClassifier()

In [119]:
knn1=knn.fit(X_train,y_train)

In [120]:
knn1.score(X_test,y_test)

0.8537414965986394

In [121]:
pd.crosstab(y_test,knn1.predict(X_test))

col_0        0  1
Attrition
0          246  9
1           34  5

In [122]:
(246+5)/(246+9+5+34)

0.8537414965986394

#### g)

### The Best Model is GradientBoostingClassifier
### The Worst Model is DecisionTreeClassifier